<mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Username" [(ngModel)]="username">
</mat-form-field><br>

<mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" [(ngModel)]="password" type="password">
</mat-form-field>

<div style="text-align: center; margin-top: 10px;">
        <button mat-raised-button color="primary" (click)="submit()">Login</button>
</div>

@if (error) {
    <div style="text-align: center; margin-top: 10px; color: red;">
        {{ error }}
    </div>
}