.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.container > * {
  flex: 1 0 100%;
  max-width: 100%;
}

.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}
