.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

app-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

router-outlet + * {
    flex: 1;
    display: flex;
    flex-direction: column;
}
