.wrapper {
    width: 100%;
}

.button-wrapper {
    width: 100%;
}

.button {
    font-size: large;
    color: white;
    width: 250px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.play-button {
    background-color: red;
}

.login-button {
    background-color: blue;
}
